*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background:linear-gradient(to right,rgba(255, 0, 0, 0.63),rgba(0, 0, 255, 0.651));
}



header{
    border:1px solid white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vh;
    padding:10px;
    font-size:1rem;
    height:12vh;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .nav-links li{
    display:inline;
}
.nav-links li:not(:last-child){
    margin-right: 40px;
}
.nav-links li a{
    text-decoration: none;
    color:white;
}
.burger .b{
    width:20px;
    height:4px;
    background:white;
    margin:3px;
    border-radius: 10px;
}
.burger{
    display:none
}





.one{
    background: rgba(172, 142, 142, 0.973);
    border-radius: 10px;
    border:1px solid blue;
    cursor: pointer;
}
.calci{
    display:grid;
    width:400px;
    height:90vh;
    background: rgb(184, 109, 109);
    margin:auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap:2px;
    padding:5px;
    border-radius:10px;
    border:1px solid blue;
}
.screen{
    grid-column:1/5;
    grid-row:1/2;
    border:1px solid blue;
    border-radius: 10px;
    margin-bottom: 5px;
   
}
.screen input{
    width:100%;
    height:100%;
    font-size:20px;
    border-radius: 10px;
}
#one{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row:2/3;
}
#two{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row:2/3;
}
#three{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
    grid-row:2/3;
}
#four{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row:3/4;
}
#five{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row:3/4;
}
#six{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
    grid-row:3/4;
}
#seven{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row:4/5;
}
#eight{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row:4/5;
}
#nine{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
    grid-row:4/5;
}
#zero{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row:5/6;
}
#plus{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 4/5;
    grid-row:2/3;
}

#minus{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 4/5;
    grid-row:3/4;
}
#mult{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 4/5;
    grid-row:4/5;
}
#divide{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row:5/6;
}
#equal{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/4;
    grid-row:6/7;
}
#percent{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 4/5;
    grid-row:5/6;
}
#delete{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row:6/7;
}
#double-zero{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
    grid-row:5/6;
}
#backspace{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 4/5;
    grid-row:6/7;
}


footer{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top:20px;
    padding:20px;
    border:1px solid white;
}



@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .calci{
        height:90vh;
        width:90vw;
    }
    .burger{
        display: block;
    }
    .nav-links{
        z-index: 1;
        position: absolute;
        top:12vh;
        right:0px;
        border:1px solid white;
        display:flex;
        flex-direction: column;
        height:88vh;
        justify-content: space-around;
        width:50vw;
        background:linear-gradient(to right,rgba(255, 0, 0, 0.63),rgba(0, 0, 255, 0.651));
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li:last-child{
        margin-right: 40px;
    }
    footer{
        margin-bottom: 0px;
    }
}

.burger-active{
    height:4px;
    width:4px;
    border-radius: 50px;
}
.nav-active{
    transform:translateX(0%);
}
 @keyframes slider{
     from{
         opacity:0;
         transform: translate(50%);
     }
     to{
         opacity:1;
         transform:translate(0%)
     }
 }
