*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.head{
    text-align: center;
    position:absolute;
    font-family: 'Tangerine',serif;
    transform: translateY(-250px);
    color:rgb(133, 13, 49);
    font-size:30px;
}

.container{
    display: flex;
    justify-content: center;
}
.watch{
    display: flex;
    width:100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    background:white;
}

.display{
    position:absolute;
    padding:8px;
    /*background: gray;*/
    /*transform:translateY(50%)*/
    width:100%;
    top:550px;
   /* border: 2px solid black;*/
    color:rgb(133, 13, 49);
    border-radius: 5px;
    text-align:center;
    font-family: 'Tangerine',serif;
    font-size: 30px;
}
.dial{
    width:300px;
    height:300px;
    border-radius: 50%;
   /* background:rgb(1, 23, 44);*/
    /*border:2px solid black;*/
}

.center{
    position: absolute;
    width:40px;
    height:40px;
    border-radius:50%;
    background: gray;
    z-index: 2;
}
.hour{
    position: absolute;
    width:4px;
    height:120px;
    background: gray;
    border-radius:20px;
    transform: rotate(0deg) translateY(-50%);
    transform-origin: (100% 50%);
}
.minute{
    position: absolute;
    width:2px;
    height:140px;
    background: gray;
    transform: rotateZ(90deg) translateY(-50%);
    transform-origin: (100% 50%);
}
.second{
    position: absolute;
    width:2px;
    height:140px;
    background: red;
    transform: rotateZ(180deg) translateY(-50%);
    transform-origin: (100% 50%);
    z-index: 1;
}
.one{
    position: absolute;
    height:150px;
    color:rgb(12, 2, 2);
    transform: rotateZ(0deg) translateY(-50%);
    transform-origin: (100% 50%);
    padding-top:5px;
    font-family: 'Tangerine',serif;
    font-size:40px;
}
.two{
    position: absolute;
    height:150px;
    color:rgb(12, 2, 2);
    transform: rotateZ(90deg) translateY(-50%);
    transform-origin: (100% 50%);
    padding-top:5px;
    font-family: 'Tangerine',serif;
    font-size:40px;
}
.three{
    position: absolute;
    height:150px;
    color:rgb(12, 2, 2);
    transform: rotateZ(180deg) translateY(-50%);
    transform-origin: (100% 50%);
    padding-top:5px;
    font-family: 'Tangerine',serif;
    font-size:40px;
}
.four{
    position: absolute;
    height:150px;
    color:rgb(12, 2, 2);
    transform: rotateZ(-90deg) translateY(-50%);
    transform-origin: (100% 50%);
    padding-top:5px;
    font-family: 'Tangerine',serif;
    font-size:40px;
}

.five{
    position: absolute;
    height:150px;
    color:rgb(12, 2, 2);
    transform: rotateZ(30deg) translateY(-50%);
    transform-origin: (100% 50%);
    padding-top:5px;
    font-family: 'Tangerine',serif;
    font-size:40px;
}
.six{
    position: absolute;
    height:150px;
    color:rgb(12, 2, 2);
    transform: rotateZ(60deg) translateY(-50%);
    transform-origin: (100% 50%);
    padding-top:5px;
    font-family: 'Tangerine',serif;
    font-size:40px;
}
.seven{
    position: absolute;
    height:150px;
    color:rgb(12, 2, 2);
    transform: rotateZ(120deg) translateY(-50%);
    transform-origin: (100% 50%);
    padding-top:5px;
    font-family: 'Tangerine',serif;
    font-size:40px;
}
.eight{
    position: absolute;
    height:150px;
    color:rgb(12, 2, 2);
    transform: rotateZ(150deg) translateY(-50%);
    transform-origin: (100% 50%);
    padding-top:5px;
    font-family: 'Tangerine',serif;
    font-size:40px;
}
.nine{
    position: absolute;
    height:150px;
    color:rgb(12, 2, 2);
    transform: rotateZ(210deg) translateY(-50%);
    transform-origin: (100% 50%);
    padding-top:5px;
    font-family: 'Tangerine',serif;
    font-size:40px;
}
.ten{
    position: absolute;
    height:150px;
    color:rgb(12, 2, 2);
    transform: rotateZ(240deg) translateY(-50%);
    transform-origin: (100% 50%);
    padding-top:5px;
    font-family: 'Tangerine',serif;
    font-size:40px;
}
.eleven{
    position: absolute;
    height:150px;
    color:rgb(12, 2, 2);
    transform: rotateZ(-60deg) translateY(-50%);
    transform-origin: (100% 50%);
    padding-top:5px;
    font-family: 'Tangerine',serif;
    font-size:40px;
}
.tweleve{
    position: absolute;
    height:150px;
    color:rgb(12, 2, 2);
    transform: rotateZ(-30deg) translateY(-50%);
    transform-origin: (100% 50%);
    padding-top:5px;
    font-family: 'Tangerine',serif;
    font-size:40px;
}
